body {
  background-color: #f4f8fb;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #ed1d24;
  margin-bottom: 20px;
}
.header img {
  height: 95px;
  margin: 5px 0;
}

.board {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(69, 91, 99, 0.08);
  margin-bottom: 30px;
  padding: 40px;
}
.board .page-title {
  color: #ed1d24;
  font-weight: 300;
}
.board .search-field {
  background-color: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 2px 2px 2px -1px #9b9b9b;
  height: 51px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 385px;
}
.board .img-filter {
  margin-right: 20px;
  margin-top: 0px;
}
.board .select-a-z {
  font-family: "Roboto";
  font-size: 14px;
  margin-top: 10px;
}
.board .character {
  text-align: center;
  border-radius: 8px;
  box-shadow: #ed1d24 0px 2px 0px;
  background-color: #ffffff;
  border: solid 1px #d8dde6;
  padding: 15px 30px;
  margin-bottom: 33px;
}
.board .character .picture {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
.board .character .name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
.board .character .description {
  font-size: 14px;
}
.board .character .line {
  background-color: #d8dde6;
  width: 54px;
  height: 1px;
  margin: 20px auto;
}
.board .page {
  border: solid 1px #c2cbd2;
  border-radius: 3px;
  color: black;
  float: left;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}
.board .page:hover {
  text-decoration: underline;
}

.footer {
  background-color: #e6e7e8;
  border-top: 7px solid #ed1d24;
  padding: 45px 0;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
